<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623742386593-uk2isu2p9kdih71br3jb44s84lhc8veo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623742386593-uk2isu2p9kdih71br3jb44s84lhc8veo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623742386593-a0ci3lk431v6r70m3mc2hocnv3m1050g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC73V0Eg9cgZyBVjdQe5QQY03KYiX-iu_M</string>
	<key>GCM_SENDER_ID</key>
	<string>623742386593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Polaris.polaris</string>
	<key>PROJECT_ID</key>
	<string>polaris-7faa8</string>
	<key>STORAGE_BUCKET</key>
	<string>polaris-7faa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623742386593:ios:fa34eef82e5ba519080be0</string>
</dict>
</plist>